<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>360&deg; Image Gallery</title>
    <meta name="description" content="360&deg; Image Gallery - A-Frame">
<script src="https://aframe.io/releases/0.5.0/aframe.min.js"></script>
<script src="https://unpkg.com/aframe-event-set-component@5/dist/aframe-event-set-component.min.js"></script>
    <script src="https://unpkg.com/aframe-layout-component@5.3.0/dist/aframe-layout-component.min.js"></script>
    <script src="https://unpkg.com/aframe-template-component@3.2.1/dist/aframe-template-component.min.js"></script>
    <script src="https://unpkg.com/aframe-proxy-event-component@2.1.0/dist/aframe-proxy-event-component.min.js"></script>
    <script src="https://raw.githack.com/AR-js-org/AR.js/master/three.js/build/ar.js"></script>
<script>
    var letter_list = ["bag","bat","gap","hat","mat"];
    var question_list =[];
    var sound_list= ["sounda1","soundb1","soundc1","soundd1","sounde1"];
    var sound_file= ["static/sound/bag.mp3","static/sound/bat.mp3","static/sound/gap.mp3","static/sound/hat.mp3","static/sound/mat.mp3"];
    var questionno = 0;
    var ans_list = ["","","","",""];
    var answer1 ="";
    var status=0;
</script>
<script>
    AFRAME.registerComponent('listener_obj', {
    init: function() {
      this.el.addEventListener('click', (e) => {
        var objectid = this.el.id;
        console.log(objectid);
        if (objectid=="object1")
        {
          checkanswer("mat","objects1_correct","objects1_wrong");

        }
  
        if (objectid=="object2")
        {
          checkanswer("gap","objects2_correct","objects2_wrong");

        }
  
        if (objectid=="object3")
        {

            checkanswer("hat","objects3_correct","objects3_wrong");
        }

        if (objectid=="object4")
        {

            checkanswer("bat","objects4_correct","objects4_wrong");
        }

        if (objectid=="object5")
        {

            checkanswer("bag","objects5_correct","objects5_wrong");
        }
        if (objectid=="object6")
        {
          status = 1;
          let beat = new Audio(sound_file[question_list[questionno]]);
          beat.load();
          beat.play();
        }
  
      })
    }
  })
  </script>

  <script>
    window.onload = function () {
        question_list = suffle([0,1,2,3,4]);
        //question_list = [3,1,2,0,4];
        questionno = 0
    };

    function checkanswer(a,b,c)
    {
      if (status==1)
      {
        if (letter_list[question_list[questionno]] == a)
        {
            let soundshow = new Audio("static/sound/correct.mp3");
            soundshow.load();
            soundshow.play();
            console.log("correct")
            document.getElementById(b).object3D.visible = true;
            soundshow.onended = function() {
                shownextquestion();
            };
        }else{
           let soundshow = new Audio("static/sound/wrong.mp3");
            soundshow.load();
            soundshow.play();
            console.log("wrong")
            //document.getElementById(c).object3D.visible = true;
        }


      }
        
    }

    function shownextquestion()
    {
        questionno = questionno+1;
        if (questionno > 4)
        {
            alert("You have complete the lesson.")
        }else
        {
          let beat = new Audio(sound_file[question_list[questionno]]);
          beat.load();
          beat.play();
          beat.onended = function() {
          };
        }
        
    }

    function suffle(array)
    {
        var i = array.length,
		        j = 0,
		        temp;
		
		    while (i--) {
		
		        j = Math.floor(Math.random() * (i+1));
		
		        // swap randomly chosen element with current element
		        temp = array[i];
		        array[i] = array[j];
		        array[j] = temp;
		
		    }
		
		    return array;
    }

  </script>
</head>
<body>
    <a-scene >
        <a-assets>
            <img id="city" src="static/newbg.jpg">
            <img id="star" src="static/star.png">
            <img id="start" src="static/start.png"> 
            <img id="correct" src="static/correct.png">
            <img id="wrong" src="static/wrong.png">
        </a-assets>
    <a-entity id="default_angle" camera position="0 0 0" look-controls wasd-controls> 
    <a-cursor fuse=true fuseTimeout="500" >
    <a-animation begin="mouseleave" easing="ease-in" attribute="scale"
        fill="forwards" from="1 1 1" to="1 1 1"></a-animation>
    <a-animation begin="cursor-fusing" easing="ease-in" attribute="scale"
                   fill="forwards" from="1 1 1" to="4 4 4"></a-animation>
    </a-cursor>
    </a-entity>
    
      <!-- Button . -->
      <a-entity id="object1" listener_obj position="-9 -9 -0.4" rotation="-90 90 0"> <!--mat-->
        <a-image  class="link" src="#star" width="6" height="6"></a-image>
      </a-entity>
      <a-entity id="objects1_correct" visible="false" position="-9 -6 -0.4" rotation="-90 90 0">
        <a-image  id="desc1a" src="#correct" geometry="primitive: plane; height: 1; width: 1"></a-image>
      </a-entity>
      <a-entity id="objects1_wrong" visible="false" position="-9 -6 -0.4" rotation="-90 90 0">
        <a-image  id="desc1b" src="#wrong" geometry="primitive: plane; height: 1; width: 1"></a-image>
      </a-entity>
      
    
      <a-entity id="object2"  listener_obj position="5 -6 6" rotation="0 90 0"><!--gap-->
        <a-image  class="link" src="#star" width="1" height="3" ></a-image>
      </a-entity>
      <a-entity id="objects2_correct" visible="false" position="5 -4 6" rotation="0 -90 0">
        <a-image  id="desc2a" src="#correct" geometry="primitive: plane; height: 1; width: 1"></a-image>
      </a-entity>
      <a-entity id="objects2_wrong" visible="false" position="5 -4 6" rotation="0 90 0">
        <a-image  id="desc2b" src="#wrong" geometry="primitive: plane; height: 1; width: 1"></a-image>
      </a-entity>
    
      <a-entity id="object3" listener_obj position="-4 1 -8" rotation="0 0 0"><!--hat-->
        <a-image  class="link" src="#star" width="2" height="2"></a-image>
      </a-entity>
      <a-entity id="objects3_correct" visible="false" position="-4 2.8 -8" rotation="-10 0 0">
        <a-image  id="desc3a" src="#correct" geometry="primitive: plane; height: 1; width: 1"></a-image>
      </a-entity>
      <a-entity id="objects3_wrong" visible="false" position="-4 2.8 -8" rotation="-10 0 0">
        <a-image  id="desc3b" src="#wrong" geometry="primitive: plane; height: 1; width: 1"></a-image>
      </a-entity>

      <a-entity id="object4" listener_obj position="-9 -2 -3.5" rotation="0 90 0"><!--bat-->
        <a-image  class="link" src="#star" width="1" height="3"></a-image>
      </a-entity>
      <a-entity id="objects4_correct" visible="false" position="-9 0 -3.5" rotation="0 90 0">
        <a-image  id="desc4a" src="#correct" geometry="primitive: plane; height: 1; width: 1"></a-image>
      </a-entity>
      <a-entity id="objects4_wrong" visible="false" position="-9 0 -3.5" rotation="0 90 0">
        <a-image  id="desc4b" src="#wrong" geometry="primitive: plane; height: 1; width: 1"></a-image>
      </a-entity>


      <a-entity id="object5" listener_obj position="-9 -5.3 4" rotation="0 90 0"><!--bag-->
        <a-image  class="link" src="#star" width="4" height="3"></a-image>
      </a-entity>
      <a-entity id="objects5_correct" visible="false" position="-9 -3.3 4" rotation="0 90 0">
        <a-image  id="desc5a" src="#correct" geometry="primitive: plane; height: 1; width: 1"></a-image>
      </a-entity>
      <a-entity id="objects5_wrong" visible="false" position="-9 -3.3 4" rotation="0 90 0">
        <a-image  id="desc5b" src="#wrong" geometry="primitive: plane; height: 1; width: 1"></a-image>
      </a-entity>
    
      <a-entity id="object6" listener_obj position=".5 1 -3" rotation="0 0 0"><!--start-->
        <a-image  class="link" src="#start" width="1" height=".5"></a-image>
      </a-entity>
      <a-sky radius="15" src="#city"></a-sky>
    </a-scene>



</body>
</html>

